---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }} - Terminal</title>
    <meta name="theme-color" content="#000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="window">
      Welcome to <a href="{{ site.baseurl }}">shajanjacob.com</a><br>
      * Home: <a href="{{ site.baseurl }}">/</a><br>
      * Blog: <a href="{{ site.baseurl }}/blog">/blog</a><br>
      * Projects: <a href="{{ site.baseurl }}/projects">/projects</a><br>
      * Contact: <a href="{{ site.baseurl }}/contact">/contact</a><br>
      * Resume: <a href="{{ site.baseurl }}/resume">/resume</a><br>
      * About: <a href="{{ site.baseurl }}/about">/about</a><br>
      * Uses: <a href="{{ site.baseurl }}/uses">/uses</a><br><br>

      {{ site.categories.project | size }} <a href="/projects">projects</a> completed.<br>
      {{ site.categories.blog | size }} <a href="/blog">blogs</a> written.<br>
      {{ site.categories.photographs | size }} beautiful <a href="/photographs">moments</a> photographed.<br>
      {{ site.categories.thoughts | size }} wild <a href="/thoughts">thoughts</a> processed.<br><br>

      *** Everything working perfect ***<br>
      Last login: Fri Sep 20 16:44:06 2019 from 122.166.65.49<br>
      <span class="stdout-text"></span>$<input type="text" autocorrect="off" autocapitalize="off"/>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/utils.js"></script>
    <script>
      const mainTree = {
        "projects": {
              {% for post in site.categories.project %}
              {{ post.title | jsonify }} : {
                "title": {{ post.title | jsonify }},
                "description": {{ post.description | jsonify }},
                "view": {{ post.visit | jsonify }},
                "isEnd": true,
                "nodeType": "PROJECT",
              }
        {% unless forloop.last %},{% endunless %}{% endfor %}},
        
        "photograph": {
              {% for post in site.categories.photograph %}
              {{ post.title | jsonify }} : {
                "title": {{ post.title | jsonify }},
                "description": {{ post.description | jsonify }},
                "isEnd": true,
                "nodeType": "PHOTO"
              }
        {% unless forloop.last %},{% endunless %}{% endfor %}},

        "blogs": {
              {% for post in site.categories.blog %}
              {{ post.title | jsonify }} : {
                "title": {{ post.title | jsonify }},
                "description": {{ post.description | jsonify }},
                "view": {{ post.url | jsonify }},
                "isEnd": true,
                "nodeType": "BLOG"
              }
        {% unless forloop.last %},{% endunless %}{% endfor %}},

        "skills": {
          "isEnd": true,
          "javascript": "* * * *  "
        }
      }

    </script>
    <script src="js/data-feeder.js"></script>
    <script src="js/processor.js"></script>
  </body>
</html>