<nav class="flex flex-wrap gap-x-4 gap-y-1 max-sm:justify-center text-xs uppercase tracking-widest text-zinc-900 dark:text-zinc-100">
  <a href="/about/" class="transition-all duration-150 {% if '/about/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">About</a>
  <a href="/projects/" class="transition-all duration-150 {% if '/projects/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Projects</a>
  <a href="/blog/" class="transition-all duration-150 {% if '/blog/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Blog</a>
  <a href="/photography/" class="transition-all duration-150 {% if '/photography/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Photography</a>
  <a href="/shelf/" class="transition-all duration-150 {% if '/shelf/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Shelf</a>
  <a href="/shortcuts/" class="transition-all duration-150 {% if '/shortcuts/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Shortcuts</a>
  <a href="/uses/" class="transition-all duration-150 {% if '/uses/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Uses</a>
  <a href="/cv/" class="transition-all duration-150 {% if '/cv/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">CV</a>
  <a href="/contact/" class="transition-all duration-150 {% if '/contact/' in page.url %}font-bold border-b-2 border-zinc-900 dark:border-zinc-100{% else %}hover:font-bold{% endif %}">Contact</a>
</nav>
