---
layout : default
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/reset.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/site.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/grid.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/container.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/button.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/table.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/image.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/header.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/card.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/menu.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/form.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/input.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/image.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body id="flat">

	<section id="intro" style="background-image: url('{{ site.banner }}');">
		<div class="content">
			<h1>{{ site.title }}</h1>
			<p>{{ site.description }}</p>
		</div>
		<img src="assets/img/res/polygon-bg.svg" style="width: 100%; -webkit-transform: scaleY(-1);
		transform: scaleY(-1); margin-bottom: -7px">
	</section>

	<div class="ui container">
		<div class="ui stackable grid">
			<div class="three wide column">
				<div class="ui fluid vertical menu flat">
					<a class="active item">Home</a>
					<a class="item">About</a>
					<a class="item">Projects</a>
					<a class="item">Contact</a>
					<a class="item">Hire</a>
					<a class="item">Resume</a>
					<a class="item">Blog</a>
					<a class="item">Photography</a>
				</div>
			</div>

			<div class="thirteen wide column">
				
				<section id="recent-blogs">
					<h2 class="ui header">Recent Blogs</h2>
					<div class="ui four stackable cards">

						{% for blog in site.categories.blog %}
						<div class="ui card flat">
							<div class="image">
								<img src="https://api.adorable.io/avatars/256/abott@adorable.png">
							</div>
							<div class="content">
								<a class="header" href="{{ blog.url }}">{{ blog.title }}</a>
								<div class="meta">
									<span class="date">{{ blog.date | date_to_string}}</span>
								</div>
								<div class="description">
									{{ blog.content | truncate: 64 }}
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</section><!-- Recent Blogs -->

			</div> <!-- Main Area -->
			

		</div>
	</div>

	<div class="ui container">
		<section id="recent-projects" class="space top bottom">
			<h2 class="ui header">Recent Projects</h2>
			<div class="ui stackable four cards">

				{% for project in site.categories.project limit:4 %}
				<div class="ui card flat">
					<div class="image">
						<img src="https://api.adorable.io/avatars/256/abott@adorable.png">
					</div>
					<div class="content">
						<a class="header" href="{{ project.url }}">{{ project.title }}</a>
						<div class="meta">
							<span class="date">{{ project.summary }}</span>
						</div>
						<div class="description">
							{{ project.description | truncate: 64 }}
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</section>
	</div>

	<img src="assets/img/res/polygon.svg" style="width: 100%; -webkit-transform: scaleX(-1) scaleY(-1);
	transform: scaleX(-1) scaleY(-1); margin-bottom: -7px">
	<section id="contact-form">
		<div class="ui text container">
			<h4 class="ui white header">Say hello.</h4>
			<div class="ui form">
				<div class="two fields">
					<div class="field">
						<label for="">Full Name</label>
						<input type="text" placeholder="John Doe">
					</div>
					<div class="field">
						<label for="">Email</label>
						<input type="text" placeholder="johnd@gmail.com">
					</div>
				</div>
				<div class="field">
					<label for="">Message</label>
					<textarea name="" id="" rows="6" placeholder="Your message goes here..."></textarea>
				</div>
				<button class="ui green button" type="submit">Submit</button>
			</div>	
		</div>
	</section>

	<img src="assets/img/res/polygon.svg" style="width: 100%;">

	<section id="social-profiles" class="">
		<div class="ui container">
			<div class="ui equal width doubling grid">
				<a target="_blank" href="http://facebook.com/{{ site.social.facebook }}" class="column animated jello infinite" data-tooltip="facebook">
					<img class="ui medium circular image" src="assets/img/social/facebook-logo.jpg">
				</a>
				<a target="_blank" href="http://github.com/{{ site.social.github }}" class="column animated jello infinite" data-tooltip="github">
					<img class="ui medium circular image" src="assets/img/social/github-logo.jpg">
				</a>
				<a target="_blank" href="http://instagram.com/{{ site.social.instagram }}" class="column animated jello infinite" data-tooltip="instagram">
					<img class="ui medium circular image" src="assets/img/social/instagram-logo.jpg">
				</a>
				<a target="_blank" href="http://linkedin.com/{{ site.social.linkedin }}" class="column animated jello infinite" data-tooltip="linkedin">
					<img class="ui medium circular image" src="assets/img/social/linkedin-logo.jpg">
				</a>
				<a target="_blank" href="http://pinterest.com/{{ site.social.pinterest }}" class="column animated jello infinite" data-tooltip="pinterest">
					<img class="ui medium circular image" src="assets/img/social/pinterest-logo.jpg">
				</a>
				<a target="_blank" href="http://skype.com/{{ site.social.skype }}" class="column animated jello infinite" data-tooltip="skype">
					<img class="ui medium circular image" src="assets/img/social/skype-logo.jpg">
				</a>
				<a target="_blank" href="http://twitter.com/{{ site.social.twitter }}" class="column animated jello infinite" data-tooltip="twitter">
					<img class="ui medium circular image" src="assets/img/social/twitter-logo.jpg">
				</a>
				<a target="_blank" href="http://youtube.com/{{ site.social.youtube }}" class="column animated jello infinite" data-tooltip="youtube">
					<img class="ui medium circular image" src="assets/img/social/youtube-logo.jpg">
				</a>
			</div>
		</div>
	</section>

</body>
</html>