---
title: "Projects"
tags: ["shajan jacob", "shajanjp", "projects", "developer", "guyswhocode"]
layout: page
---
<section id="projects">
  <ul>
    {% for project in site.data.projects %}    
    <li class="project">
      <p class="heading">{{ project.title }}</p>
      <p><a href="{{ project.url }}" target="_blank">{{ project.url }}</a></p>
      <p>{{ project.description }}</p>
      <p class="tags">
        {% for tag in project.tags %}    
        <span>{{ tag }}</span>
        {% endfor %}   
      </p>
    </li>
    {% endfor %}
  </ul>
</section>