---
title: "Resume"
tags: ["shajan jacob", "shajanjp", "resume", "CV", "developer", "guyswhocode"]
layout: page
---
<section id="resume">
  <a href="/shajan-jacob-resume.pdf" class="heading">Download Resume</a><br />
  <div class="text-center">
    <p>Shajan Jacob</p> 
    <p>shajanjp@gmail.com</p>
    <p>+91 9747952378</p>
    <p>Cochin, India</p>
  </div>

  <h3>EDUCATION</h3>
  <p>Bachelor of Engineering in Computer Science (2012 - 2017)</p>
  <p>T JOHN INSTITUTE OF TECHNOLOGY</p>
  <h3>POSITIONS OF RESPONSIBILITY</h3>
  <ul>
    <li>Worked for BakeBrand as a web designer</li>
    <li>Worked for Alts Solution as a full-stack developer</li>
  </ul>
  <h3>PROJECTS</h3>
  <section id="projects">
    <ul>
      {% for project in site.data.projects %}    
      <li class="project">
        <p class="heading">{{ project.title }}</p>
        <p><a href="{{ project.url }}">{{ project.url }}</a></p>
        <p>{{ project.description }}</p>
        <p class="tags">
          {% for tag in project.tags %}    
          <span>{{ tag }}</span>
          {% endfor %}   
        </p>
      </li>
      {% endfor %}
    </ul>
  </section>

  <h3>SKILLS</h3>
  <ul>
    <li><p>HTML [Expert]</p></li>
    <li><p>CSS [Expert]</p></li>
    <li><p>NodeJS [Intermediate]</p></li>
    <li><p>MongoDB [Intermediate]</p></li>
    <li><p>PHP [Intermediate]</p></li>
    <li><p>Linux [Expert]</p></li>
    <li><p>JavaScript [Intermediate]</p></li>
    <li><p>Bootstrap [Expert]</p></li>
    <li><p>MySQL [Intermediate]</p></li>
    <li><p>jQuery [Intermediate]</p></li>
    <li><p>Python [Beginner]</p></li>
    <li><p>AngularJS [Beginner]</p></li>
  </ul>

  <h3>WORK SAMPLES &amp PROFILES</h3>
  <ul>  
    <li>
      <a href="http://shajanjacob.com/blog">Blog</a>
    </li>
    <li>
      <a href="http://github.com/shajanjp">Github</a>
    </li>
    <li>
      <a href="http://behance.net/shajanjp">Behance</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/shajanjp/">LinkedIn</a>
    </li>
    <li>
      <a href="http://guyswhocode.com/shajanjp" title="Guys Who Code">Guys Who Code</a>
    </li>
  </ul>
</section>