---
---
<!DOCTYPE html>
<html>
<head>
  {% include head_meta.html %}
  {% include styles.html %}
</head>
<body id="typing">
	<div class="container"> <!-- main container -->
    <div class="row">
      {% include navigation.html %}
      <div class="col-sm-9"> <!-- content block -->
        <div class="row">
          <div class="col-sm-12">
            <header>
              <h1><a href="/">Shajan Jacob</a></h1>
            </header>
            <section id="example">
            </section>
          </div>
        </div>
      </div> <!-- content block -->
    </div>
    {% include footer.html %}
  </div> <!-- main containe -->
  {% include scripts.html %}
</body>
</html>