---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - posts
    - photos
    - projects
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Posts tagged '{{ tag }}'"
permalink: /blog/tag/{{ tag }}/
---

<section>
  <h2 class="text-2xl font-medium mb-8">Posts tagged <span class="uppercase">{{ tag }}</span></h2>
  <div class="space-y-4">
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
    {# Only show if it's a blog post #}
    {% if post.data.tags and "blog" in post.data.tags %}
    <article class="mt-6">
      <a class="mt-4" href="{{ post.url }}" class="group block">
        <h3 class="font-medium group-hover:underline decoration-zinc-400 underline-offset-4">{{ post.data.title }}</h3>
      </a>
      <p class="mt-1 text-sm text-justify text-zinc-500 dark:text-zinc-400">{{ post.data.description }}</p>
      <div class="mt-1 flex gap-2">
        {% for postTag in post.data.tags %}
        {% if postTag != "posts" and postTag != "blog" %}
        <a href="/blog/tag/{{ postTag }}/" class="text-[10px] uppercase tracking-wide px-1.5 py-0.5 border border-zinc-200 dark:border-zinc-800 text-zinc-500 rounded-sm transition-all hover:border-zinc-300 dark:hover:border-zinc-700">{{ postTag }}</a>
        {% endif %}
        {% endfor %}
      </div>
      <span class="mt-1 text-xs text-zinc-400 dark:text-zinc-600">{{ post.date | humanDate }}</span>
    </article>
    {% endif %}
    {% endfor %}
  </div>
</section>
