---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - posts
    - photos
    - projects
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Posts tagged '{{ tag }}'"
permalink: /blog/tag/{{ tag }}/
---

<section>
  <h2 class="text-2xl font-medium mb-8">Posts tagged <span class="uppercase">{{ tag }}</span></h2>
  <div class="space-y-4">
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
    {# Only show if it's a blog post #}
    {% if post.data.tags and "blog" in post.data.tags %}
        {% include "components/blog-card.njk" %}
    {% endif %}
    {% endfor %}
  </div>
  <div class="mt-6 text-center">
    <a href="/blog/tag/" class="inline-flex items-center gap-1 text-xs text-zinc-400 dark:text-zinc-600 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors group">
      See all blog post tags <span class="group-hover:translate-x-1 transition-transform">&rarr;</span>
    </a>
  </div>
</section>
