<title>{{ page.title }} | {{ site.title }}</title>
<meta charset="UTF-8" />
<meta name="theme-color" content="#000" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="Shajan Jacob,programmer,web,kerala,freelancer,guyswhocode,gwc,shajanjp" />
<meta name="author" content="Shajan Jacob" />

<!-- Open Graph -->
<meta property="og:title" content="Shajan Jacob" />
<meta property="og:url" content="http://shajanjacob.com" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="http://shajanjacob.com/shajan-jacob.jpg" />
<meta property="og:site_name" content="Shajan Jacob" />
<meta property="og:locale" content="en_US" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="http://shajanjacob.com" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:title" content="Shajan Jacob" />
<meta name="twitter:image" content="http://shajanjacob.com/shajan-jacob.jpg" />

<!-- Favicons  -->
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage" content="img/mstile-144x144.png" />
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">