 <nav class="col-sm-2"> <!-- navigation -->
 	<ul class="sidebar">
 		<li><a href="/" title="About Me">About Me</a></li>
 		<li><a href="/projects.html" title="Projects">Projects</a></li>
 		<li><a href="/contact.html" title="Contact">Contact</a></li>
 		<li><a href="/hire-me.html" title="Hire Me">Hire Me</a></li>
 		<li><a href="/resume.html" title="Resume">Resume</a></li>
 		<li><a href="/blog" title="Blog">Blog</a></li>
 		<li><a href="/photography" title="Photography">Photography</a></li>
 	</ul>
 </nav>