<div class="ui fluid vertical menu flat">
	<a href="/" class="{% if page.url == "/" %} active{% endif %} item">Home</a>
	<a href="/about.html" class="{% if page.url == "/about.html" %} active{% endif %}item">About</a>
	<a href="/projects.html" class="{% if page.url == "/projects.html" %} active{% endif %}item">Projects</a>
	<a href="/contact.html" class="{% if page.url == "/contact.html" %} active{% endif %}item">Contact</a>
	<a href="/hire.html" class="{% if page.url == "/hire.html" %} active{% endif %}item">Hire</a>
	<a href="/resume.html" class="{% if page.url == "/resume.html" %} active{% endif %}item">Resume</a>
	<a href="/blog.html" class="{% if page.url == "/blog.html" %} active{% endif %}item">Blog</a>
	<a href="/photography.html" class="{% if page.url == "/photography.html" %} active{% endif %}item">Photography</a>
</div>