	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/reset.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/site.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/grid.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/container.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/button.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/table.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/image.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/header.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/card.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/menu.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/form.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/input.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.1/components/image.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/monokai.css">