<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-meta.html %} {% include styles.html %}
  </head>
  <body>
    {% include navbar.html %}
    <main class="container">
      <header>
        <h1 class="heading text-gradient">
          {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
        </h1>
        <p class="description text-gradient">{{page.description}}</p>
      </header>
      {{ content }}
    </main>
    {% include footer.html %} {% include scripts.html %}
  </body>
</html>
