---
layout: default
---
{% if page.categories contains 'photography' %}
  <div class="photo-bg" style="background: url('{{site.url}}/uploads/photography/{{ page.photo }}');">
{% endif %}

{% include jumbo-header.html %}
  <div class="ui container">	
    <div class="ui stackable grid" style="margin-top: 20px;">
      <div class="three wide column">
        {% include navigation.html %}
      </div>
      <div class="thirteen wide column">
       {{ content }}
     </div>
   </div>
 </div>

{% if page.categories contains 'photography' %}
  </div>
{% endif %}