---
layout: layouts/base.njk
title: "About"
description: "Few things about me."
---
<section class="space-y-4">
<h2 class="ui header">Hello...</h2>
<p>I'm Shajan Jacob.</p>
<p>Software engineer from kochi, working as full stack developer.</p>
<p><a href="https://en.wikipedia.org/wiki/MEAN_%28software_bundle%29" target="_blank">MEAN stack</a> is my playground. But I still remember the days I wrote PHP, bash, VB and lines of python.
	I help startup companies and local businesses to setup their online presence with custom websites and applications.
	As a full stack web developer, I've worked for companies like <a href="https://cubettech.com/" target="_blank">Cubet Techno Labs</a>, <a href="http://guyswhocode.com/" target="_blank">Guys Who Code</a>, <span class="hl">MindPrick</span> and <span class="hl">BakeBrand</span>.
I like working with people and organizations who dare to change the world to make it a better place.</p>
<p>The green lines in printed circuit boards always fascinated me ever since I was a child.
	That's how I fell in love with electronics. Now I'm crazy about <a href="https://www.raspberrypi.org/help/what-is-a-raspberry-pi/" target="_blank">Pi</a> and <a href="https://en.wikipedia.org/wiki/Internet_of_Things" target="_blank">IoT</a>.
	But mostly, I hang out with my friends and family, play with lights, sleep under the woods, &amp listen to music.
When you don't find me with them, I'm making <a href="https://github.com/shajanjp" target="_blank">magic</a> with machines, <a href="https://www.hackster.io/shajanjp" target="_blank">hacking</a> stuff, learning things, writing blog, and getting lost on the internet.</p>
<p>I love what I do and always look forward to help others find what they love.</p>
</section>