---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.title }}</name>
    <email>shajanjp at gmail dot com</email>
  </author>
  {%- for post in collections.blog | reverse %}
  {%- set absoluteUrl = post.url | url %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ absoluteUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ site.url }}{{ absoluteUrl }}</id>
    <content type="html">
      <![CDATA[
        {{ post.templateContent | safe }}
      ]]>
    </content>
    {%- if post.data.description %}
    <summary>{{ post.data.description }}</summary>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
