---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - posts
    - photos
    - projects
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Projects tagged '{{ tag }}'"
permalink: /projects/tag/{{ tag }}/
---

<section>
  <h2 class="text-2xl font-medium mb-8">Projects tagged <span class="uppercase">{{ tag }}</span></h2>
  <div class="space-y-4">
    {% set taglist = collections[ tag ] %}
    {% set projectFound = false %}
    {% for project in taglist | reverse %}
    {# Only show if it's a project #}
    {% if project.data.tags and "projects" in project.data.tags %}
      {% set projectFound = true %}
      {% include "components/project-card.njk" %}
    {% endif %}
    {% endfor %}

    {% if not projectFound %}
      <script>window.location.href = '/projects/tag/';</script>
    {% endif %}
  </div>
  <div class="mt-6 text-center">
    <a href="/projects/tag/" class="inline-flex items-center gap-1 text-xs text-zinc-400 dark:text-zinc-600 hover:text-zinc-900 dark:hover:text-zinc-100 transition-colors group">
      See all project tags <span class="group-hover:translate-x-1 transition-transform">&rarr;</span>
    </a>
  </div>
</section>
